<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title><%= title %></title>
	<%= shared_stylesheet_link_tag "raster" %>
	<link rel="stylesheet" href="css/style.css">
	<%= shared_javascript_include_tag "zepto" %>
	<script type="text/javascript" src="js/wcmarkdown.js"></script>
</head>
<body>
	<%= body %>
</body>
</html>
