body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 13px;
  padding: 1.25rem;
}

blockquote,
pre {
  margin: 0 0 1.25rem 1.25rem;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

code {
  color: #2d5fa8;
  font-family: "Menlo", monospace;
  font-size: 12px;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: white;
  }
  code {
    color: #ccc;
  }
  a {
    color: #3D93CD;
  }
}
