body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 15px;
  padding: 1.25rem;
}

blockquote,
pre {
  margin: 0 0 1.25rem 1.25rem;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

sub,
sup {
  line-height: 0;
  margin-left: 1px;
  font-size: calc(1em * (8 / 12));
}

sub {
  vertical-align: sub;
}

sup {
  vertical-align: super;
}

code {
  color: #555;
  font-family: "Menlo", monospace;
  font-size: 14px;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: white;
  }
  code {
    color: #ccc;
  }
  a {
    color: #3d93cd;
  }
}
